.archive{
    height: 251px;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    justify-content: space-between;
    margin-top: 94px;
}
.archive__box{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.archive__box--icon{
    width: 70px;
    height: 70px;
    justify-content: center;
}
.archive__title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.archive__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    list-style-type: none;
}