.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients__tytul{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
}
.clients__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    margin: 0px;
    box-sizing: content-box;
}
.clients__card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    fill: rgb(175, 177, 184);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    box-sizing: border-box;
    transition: border 250ms;
}
.clients__card--icon1{
    width: 41px;
    height: 48px;
    transition: fill 250ms;
}
.clients__card--icon2{
    width: 40px;
    height: 53px;
    transition: fill 250ms;
}
.clients__card--icon3{
    width: 45px;
    height: 42px;
    transition: fill 250ms;
}
.clients__card--icon4{
    width: 85px;
    height: 42px;
    transition: fill 250ms;
}
.clients__card--icon5{
    width: 63px;
    height: 47px;
    transition: fill 250ms;
}
.clients__card--icon6{
    width: 94px;
    height: 45px;
    transition: fill 250ms;
}
.clients__card:hover{
    border: 1px solid #2196F3;
    fill: rgb(33, 150, 243);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}