.production{
    height: 386px;
    margin-top: 94px;
    margin-bottom: 94px;
}
.production__tytuł{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
}
.production__photo{
    margin: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.production__box{
    position: relative;
}
.production__box--text{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 225px;
}