.title{
    background-color: getColor('color-backcol');
    min-height: 600px;
    margin: auto;
    max-width: 1600px;
    justify-content: center;
}
.photo__efect{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/img.bmp.jpg");
}
.title__text{
    font-style: $font-style-one;
    font-weight: $font-weight-three;
    font-size: $pixeli-fourteen;
    line-height: $pixeli-seven;
    text-align: center;
    letter-spacing: $spacing-two;
    text-transform: uppercase;
    color: getColor('color-bacground');
    padding-top: 200px;
    margin: $pixeli-four auto;
}
.title__button{
    background: getColor('color-hovercol');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: $font-style-one;
    font-weight: $font-weight-one;
    font-size: $pixeli-eighteen;
    line-height: $pixeli-Sixteen;
    letter-spacing: $spacing-two;
    color: getColor('color-bacground');
    text-decoration: none;
    border: none;
    padding: 0%;
    margin-left: 500px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
}
.title__button:hover{
    cursor: pointer;
}