.box__sites{
    margin: $pixeli-four;
    list-style-type: $paradiz;
    padding-inline-start: $pixeli-four;
    display: $display-one;
    flex-wrap: $nonsens;
    justify-content: $justify-one;
}
.sites{
    width: $pixeli-seventeen;
    height: $pixeli-nineteen;
    border: $border getColor('color-jelly');
    margin-bottom: $pixeli-Sixteen;
    transition: box-shadow $msec-one;
}
.sites:hover{
    cursor: pointer;
    border: $border getColor('color-jelly');
    box-shadow: $shadow-one;
    transition-timing-function: $cubic-one;
}
.sites__card{
    width: $pixeli-seventeen;
    height: $pixeli-nineteen;
    margin: $pixeli-four;
}
.sites__card--img{
    position: relative;
    width: $pixeli-seventeen;
    height: $pixeli-twenty-one;
    margin-left: $consol;
    margin-right: $consol;
    overflow: hidden;
}
.sites__card--img:hover .img__overlay--hover {
    transform: translatey(0);
}
.img__overlay--hover{
    position: absolute;
    top: $pixeli-four;
    left: $pixeli-four;
    width: $procent-three;
    height: $procent-three;
    background-color: getColor('color-hovercol');
    transform: translatey($procent-three);
    transition: transform $msec-one ease;
}
.overlay__text{
    font-style: $font-style-one;
    font-weight: $font-weight-two;
    font-size: $pixeli-twenty-three;
    line-height: $pixeli-twenty-four;
    letter-spacing: $spacing-one;
    color: getColor('color-bacground');
    display: inline-block;
    width: 301px;
    height: 196px;
    margin-left: $pixeli-eleven;
    margin-top: $pixeli-twenty-five;
}
.sites__card--title{
    font-style: $font-style-one;
    font-weight: $font-weight-one;
    font-size: $pixeli-twenty-three;
    line-height: $pixeli-twenty-two;
    letter-spacing: $spacing-two;
    color: getColor('color-textcol');
    text-decoration: $paradiz;
    margin-left: $pixeli-eleven;
}
.sites__card--title:hover,
.sites__card--type:hover {
    text-decoration: underline;
    text-decoration-color: getColor('color-hovercol');
}
.sites__card--type{
    font-style: $font-style-one;
    font-weight: $pixeli-twenty;
    font-size: $pixeli-eighteen;
    line-height: $pixeli-Sixteen;
    letter-spacing: $spacing-one;
    color: getColor('color-primaty');
    text-decoration: $paradiz;
    margin-left: $pixeli-eleven;
}